.linear {
  min-height: 35px;
  width: 100%;
  background-color: $color-turbo;
  background-image: url('../img/vector.svg');
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100%;

  @include vp-767 {
    background-position: 100% 15%;
  }
}
