.title {
  font-weight: 700;
  font-size: 144px;
  line-height: 152px;
  margin: 0;
  text-transform: uppercase;

  @include vp-1023 {
    font-size: 36px;
    line-height: 44px;
  }
}

.title--medium {
  font-size: 48px;
  line-height: 57px;

  @include vp-1023 {
    font-size: 24px;
    line-height: 28px;
  }
}

.title--small {
  font-size: 36px;
  line-height: 43px;
  color: $color-default-black;

  @include vp-1023 {
    font-size: 22px;
    line-height: 24px;
  }
}

