.title {
  font-weight: 700;
  font-size: 144px;
  line-height: 152px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 24px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 58px;
  }

  @include vp-767 {
    font-size: 42px;
    line-height: 46px;
  }
}

.title--medium {
  font-size: 48px;
  line-height: 57px;

  @include vp-1023 {
    font-size: 24px;
    line-height: 28px;
  }
}

.title--small {
  font-size: 36px;
  line-height: 43px;
  color: $color-default-black;
  margin-bottom: 16px;

  @include vp-1023 {
    font-size: 22px;
    line-height: 24px;
  }
}

.title span {
  color: $color-selective-yellow;
}
